[submodule "typeshed"]
	path = typeshed
	url = https://github.com/python/typeshed.git
	shallow = true
	fetchRecurseSubmodules = true
        update = rebase
        branch = .
[submodule "pykythe/asttokens"]
	path = pykythe/asttokens
	url = git@github.com:gristlabs/asttokens.git
[submodule "pykythe/six"]
	path = pykythe/six
	url = git@github.com:benjaminp/six.git
[submodule "rocks-predicates"]
	path = rocks-predicates
	url = git@github.com:JanWielemaker/rocks-predicates.git
